<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380069732264-6m30t5hsqrhiji0ir3lvc2gieh3f96po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380069732264-6m30t5hsqrhiji0ir3lvc2gieh3f96po</string>
	<key>API_KEY</key>
	<string>AIzaSyByefv-s4CFc0CQmgroFYI6FJ1Pwx-NlPk</string>
	<key>GCM_SENDER_ID</key>
	<string>380069732264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFlutterFirebaseProject</string>
	<key>PROJECT_ID</key>
	<string>my-flutter-firebase-proj-e7c3b</string>
	<key>STORAGE_BUCKET</key>
	<string>my-flutter-firebase-proj-e7c3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380069732264:ios:babbb836a297ccf44a879d</string>
</dict>
</plist>